<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ChoHay</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <div class="row justify-content-around" style="width: 100%;margin: 2px;padding: 0;">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xxl-8" style="transform: scale(1);width: 100%;">
            <div class="mb-3" style="width: 100%;"><label class="form-label form-label" for="service_name"><strong>Loại hình căn hộ *</strong></label><select class="form-select" required="" style="color:rgb(0,0,0);">
                    <option value="Apartment">Chung cư</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Penthouse">Penthouse</option>
                    <option value="Officetel">Officetel</option>
                    <option value="Serviced apartment, mini">Căn hộ dịch vụ, mini</option>
                </select></div>
        </div>
        <div class="col">
            <div class="mb-3" style="width: 100%;"><label class="form-label form-label" for="service_name"><strong>Tầng số *</strong></label><input type="number" placeholder="Tầng số" min="1" style="width: 100%;"></div>
        </div>
    </div>
    <div class="row justify-content-around" style="width: 100%;margin: 2px;padding: 0;">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xxl-8" style="transform: scale(1);width: 50%;">
            <div class="mb-3"><label class="form-label form-label" for="service_name" style="font-weight: bold;">Số phòng ngủ *</label><input type="number" required="" placeholder="Số phòng ngủ" min="0" step="1"></div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 col-xxl-8" style="transform: scale(1);width: 50%;">
            <div class="mb-3"><label class="form-label form-label" for="service_name"><strong>Số phòng vệ sinh *</strong></label><input type="number" required="" placeholder="Số phòng vệ sinh" min="0" step="1"></div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 col-xxl-8" style="transform: scale(1);width: 50%;">
            <div class="mb-3" style="width: 100%;"><label class="form-label form-label" for="service_name"><strong>Giấy tờ pháp lý *</strong></label><select class="form-select" required="" style="color:rgb(0,0,0);">
                    <option value="Already have house book">Đã có sổ</option>
                    <option value="waiting for house book">Đang có sổ</option>
                    <option value="Other">Giấy tờ khác</option>
                </select></div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 col-xxl-8" style="transform: scale(1);width: 50%;">
            <div class="mb-3" style="width: 100%;"><label class="form-label form-label" for="service_name"><strong>Tình trạng nội thất *</strong></label><select class="form-select" required="" style="color:rgb(0,0,0);">
                    <option value="Luxury furniture">Nội thất cao cấp</option>
                    <option value="Full furniture">Nội thất đây đủ</option>
                    <option value="No furniture">Nhà trống</option>
                </select></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3" style="width: 100%;"><label class="form-label form-label" for="service_name"><strong>Diện tích *</strong></label><input type="number" required="" placeholder="m2" style="width: 100%;" min="0"></div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="../assets/js/address.js"></script>
    <script src="../assets/js/confimpassword.js"></script>
</body>

</html>