<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ChoHay</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css">
    <link rel="stylesheet" href="../assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="../assets/css/MUSA_carousel-product-cart-slider-carousel-product-cart-slider.css">
    <link rel="stylesheet" href="../assets/css/MUSA_carousel-product-cart-slider.css">
    <link rel="stylesheet" href="../assets/css/Pretty-Search-Form-.css">
    <link rel="stylesheet" href="../assets/css/Product-Details.css">
    <link rel="stylesheet" href="../assets/css/Search-Input-Responsive-with-Icon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
    <link rel="stylesheet" href="../assets/css/Custom-Upload-File.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../assets/css/Ludens---Create-Edit-Form.css">
</head>

<body>
    <div class="row justify-content-around" style="width: 100%;margin: 2px;padding: 0;">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xxl-8" style="transform: scale(1);width: 60%;">
            <div class="mb-3"><label class="form-label form-label" for="service_name"><strong>Giống chó *</strong></label><select class="form-select" required="" style="color:rgb(0,0,0);">
                    <option value="Alaskan dog">Chó Alaska</option>
                    <option value="Beijin dog">Chó Bắc Kinh</option>
                    <option value="Becgie dog">Chó Becgie</option>
                    <option value="Bull dog">Chó Bull</option>
                    <option value="Chihuahua dog">Chó Chihuahua</option>
                    <option value="Chow Chow  dog">Chó Chow Chow</option>
                    <option value="Corgi dog">Chó Corgi</option>
                    <option value="Shiba dog">Chó Shiba</option>
                    <option value="Poodle dog">Chó Poodle</option>
                    <option value="Husky dog">Chó Husky</option>
                    <option value="Other">Giống khác</option>
                </select></div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" style="width: 40%;">
            <div class="mb-3"><label class="form-label form-label" for="service_price"><strong>Độ tuổi *</strong></label><select class="form-select" required="" style="color:rgb(0,0,0);">
                    <option value="0">Chó con (dưới 3 tháng tuổi)</option>
                    <option value="1">Chó nhỏ (dưới 1 năm tuổi)</option>
                    <option value="2">Chó lớn (hơn 1 tuổi)</option>
                    <option value="-1">Không xác định được</option>
                </select></div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
            <div class="mb-3"><label class="form-label form-label" for="service_price"><strong>Size *</strong></label><select class="form-select" required="" style="color:rgb(0,0,0);">
                    <option value="1">Siêu nhỏ</option>
                    <option value="2">Nhỏ</option>
                    <option value="3">Trung bình</option>
                    <option value="4">Lớn</option>
                </select></div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="../assets/js/address.js"></script>
</body>

</html>