<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ChoHay</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid"><a class="navbar-brand" href="../index.html" style="font-weight: bold;font-size: 24px;">chohay</a><button data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Danh mục</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Thời trang</a><a class="dropdown-item" href="#">Đồ điện tử</a><a class="dropdown-item" href="#">Thú cưng</a></div>
                        </li>
                    </ul>
                    <form class="d-flex mx-auto" role="search"><input class="form-control me-2" type="search" aria-label="Search" placeholder="Tìm kiếm sản phẩm trên Chợ Hay"><button class="btn btn-outline-primary" type="submit" style="border-width: 2px;padding-top: 5px;padding-bottom: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search" style="font-size: 24px;">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg></button></form>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="btn btn-outline-primary" role="button" href="../create-product.html" style="padding-top: 10px;padding-bottom: 10px;width: 143px;/*margin-bottom: 0px;*//*margin-top: 0px;*/">đăng tin</a></li>
                        <li class="nav-item"><a class="btn btn-primary" role="button" href="../login.html" style="width: 143px;">đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="../assets/js/address.js"></script>
    <script src="../assets/js/confimpassword.js"></script>
</body>

</html>